#prompt-background{
	display:none;
}
.carousel-caption {
    right: 0%;
    left: 10%;
    padding-bottom: 30px;
    top: 30%;
    text-align: left;
    background: rgba(0, 0, 0, 0.3);
    width: 35%;
    min-width: 340px;
    padding: 15px;
    text-shadow: 0 0 2px #000;
}