
    <!-- Progress with steps -->

    ol.progtrckr {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    ol.progtrckr li {
        display: inline-block;
        text-align: center;
        line-height: 3em;
    }

    ol.progtrckr[data-progtrckr-steps="2"] li { width: 49%; }
    ol.progtrckr[data-progtrckr-steps="3"] li { width: 33%; }
    ol.progtrckr[data-progtrckr-steps="4"] li { width: 24%; }
    ol.progtrckr[data-progtrckr-steps="5"] li { width: 19%; }
    ol.progtrckr[data-progtrckr-steps="6"] li { width: 16%; }
    ol.progtrckr[data-progtrckr-steps="7"] li { width: 14%; }
    ol.progtrckr[data-progtrckr-steps="8"] li { width: 12%; }
    ol.progtrckr[data-progtrckr-steps="9"] li { width: 11%; }

    ol.progtrckr li.progtrckr-done {
        color: black;
        border-bottom: 4px solid yellowgreen;
    }
    ol.progtrckr li.progtrckr-todo {
        color: silver; 
        border-bottom: 4px solid silver;
    }

    ol.progtrckr li:after {
        content: "\00a0\00a0";
    }
    ol.progtrckr li:before {
        position: relative;
        bottom: -2.5em;
        float: left;
        left: 50%;
        line-height: 1em;
    }
    ol.progtrckr li.progtrckr-done:before {
        content: "\2713";
        color: white;
        background-color: yellowgreen;
        height: 1.2em;
        width: 1.2em;
        line-height: 1.2em;
        border: none;
        border-radius: 1.2em;
    }
    ol.progtrckr li.progtrckr-todo:before {
        content: "\039F";
        color: silver;
        background-color: white;
        font-size: 1.5em;
        bottom: -1.6em;
    }









.vsure-header-top {
    background: #eee;
    display: inline-block;
    width: 100%;
    padding: 0 20px;
}
.fa-facebook:hover{
    color:#29487d !important;
}
.fa-google-plus:hover{
    color:#ff5733 !important;
}
.fa-linkedin:hover{
   color:#0077b5 !important;
}
.carousel-caption a {
    background: #3bb54c;
    padding: 10px 20px;
    color: #fff;
    border-radius: 7px;
}
.carousel-control span {
    top: 50% !important;
    position: absolute;
    color: #fff;
    font-size: 30px;
}
.carousel-control.right {
    right: 10px;
}
.navbar-sign-in-button {
    background: #3bb54c;
    display: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    float: right;
    margin: 7px 15px;
}
.vsure-header-top .col-md-2.col-xs-2.col-sm-2 a {
    display: inline;
    margin: 5px;
    padding: 2px 2px;
    float: left;
}
.vsure-header-top .col-md-2.col-xs-2.col-sm-2 a i{
    color: #999;
    font-size: 17px;
}
.vsure-header-top .col-md-2.col-xs-2.col-sm-2 a i:hover{
    color: #333;
}
.vsure-header-top .col-md-10.col-xs-10.col-sm-10 ul{
    float: right;
    padding: 0;
    list-style: none;
    margin: 0;
}
.vsure-header-top .col-md-10.col-xs-10.col-sm-10 ul li {
    display: inline-block;
    margin: 5px 0 0px 10px;
    border-right: 1px solid#ccc;
}
.vsure-header-top .col-md-10.col-xs-10.col-sm-10 ul li:last-child{
    border-right: none;
}
.vsure-header-top .col-md-10.col-xs-10.col-sm-10 ul li a{
    color: #666;
    padding: 10px;
    font-size: 15px;
    float: left;
}
.vsure-header-top .col-md-10.col-xs-10.col-sm-10 ul li a.dropdown-toggle, .vsure-header-top .col-md-10.col-xs-10.col-sm-10 ul li a.dropdown-toggle:hover {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    background: #3bb54c;
}
.vsure-header-top .col-md-10.col-xs-10.col-sm-10 ul li a:hover{
    color: #333;
    text-decoration: underline;
}
header#main-header .navbar>.container {
    width: 100%;
    padding: 0 50px 0 10px;
}
.service_box a {
    color: #333;
    font-size: 14px;
    font-weight: normal;
    padding: 8px 5px;
    width: 100%;
    float: left;
}
.service_box a:hover{
    background: #eee;
}

/*#prompt-background{
	display:none;
}*/
.carousel-caption {
    right: 0%;
    left: 10%;
    padding-bottom: 30px;
    top: 25%;
    text-align: left;
    background: rgba(0, 0, 0, 0.3);
    width: 45%;
    min-width: 340px;
    padding: 15px;
    max-height: 380px;
    text-shadow: 0 0 2px #000;
}
.blog-post button.btn {
    background: #3cb54c;
    font-size: 17px;
    margin: 10px 0;
}
.vsure-home-page-slider {
    height: 770px;
}
.carousel {
    height: 100%;
}
.carousel-inner{
    height: 100%;
}
.item{
    height: 100%;
}
.carousel .carousel-inner .item img{
    height: 100%;
}
.vsure-homepage-clients-icons {
    background: #eee;
    float: left;
    width: 100%;
    padding: 30px 0;
}
.vsure-homepage-clients-icons img {
    width: 100%;
    filter: grayscale(1);
    max-height: 100px;
    max-width: 180px;
}
.vsure-homepage-clients-icons img:hover{
    filter:grayscale(0);
    transform:scale(1.03);
}

section#service-page-doc-table {
    max-width: 100%;
}
section#service-page-doc-table .single-service-table {
    overflow-x: scroll;
}
.pvt-ltd-company-image img {
    float: left;
    width: 100%;
}

/********** Single-post**********/

.vsure-post-page-image-body.post_body {
    padding: 10px;
}
.vsure-post-page-image {
    text-align: center;
    float: left;
    width: 100%;
    margin-bottom:10px;
}
.vsure-post-page-image-body strong {
    margin: 10px 0;
    float: left;
    width: 100%;
}
.vsure-post-page-image-body p, .vsure-post-page-image-body li{
    font-family: arial !important;
    font-weight: normal;
    color: #333;
    font-size: 14px !important;
}
.vsure-post-page-image img{
	margin:15px;
	width: 50% !important;
}
.vsure-post-page-image-body.post_body table {
    overflow-x: scroll;
    width: 100%;
    margin: 0px auto;
    margin-bottom: 10px;
    display: -webkit-box;
    margin-top: 10px;
    box-shadow: 0 0 10px 0px #ddd;
    border:2px solid#ddd;
}
.vsure-post-page-image-body.post_body table p {
    padding: 10px;
    font-family: arial !important;
}
div#social-links i {
    font-size: 30px;
}
.ml-sm-auto, .mx-sm-auto{
	margin-top:0 !important;
}
div#social-links {
    float: left;
    margin: 0 10px;
}
.post_panel {
    height: 48px;
}
.post_comment {
    margin-top: 70px;
    margin: 0 auto;
    box-shadow: 0 0 10px 0 #ddd;
    padding: 20px;
    margin-top: 30px !important;
}
.post_comment_form_container {
    margin: 0 !important;
    padding-top: 20px !important;
}
.vsure-post-page-similar-post .card p {
    font-family: arial;
}
.vsure-post-page-similar-post .card-body{
    padding:0;
}
.similar_posts.vsure-post-page-similar-post {
    background: #fff;
    padding: 0px 14px;
    margin: 0;
}
.post_comment_form_container {
    margin: 0;
}

.close_prompt_popup {
    position: absolute;
    right: 0;
    border-radius: 0;
}


/********** Responsive **********/


@media only screen and (max-width: 4000px) {

.vsure-home-page-slider {
    height: 2000px;
}

}
@media only screen and (max-width: 2880px) {

.vsure-home-page-slider {
    height: 1500px;
}

}
@media only screen and (max-width: 2600px) {

.vsure-home-page-slider {
    height: 1323px;
}

}
@media only screen and (max-width: 2200px) {

.vsure-home-page-slider {
    height: 1100px;
}

}
@media only screen and (max-width: 1920px) {

.vsure-home-page-slider {
    height: 928px;
}

}
@media only screen and (max-width: 1800px) {

.vsure-home-page-slider {
    height: 800px;
}

}
@media only screen and (max-width: 1600px) {

.vsure-home-page-slider {
    height: 701px;
}
.logedin-order-page a {
    padding: 6px;
    font-size: 12px;
    font-weight: 100;
}

}
@media only screen and (max-width: 1440px) {

.vsure-home-page-slider {
    height: 680px;
}


}
@media only screen and (max-width: 1366px) {

.vsure-home-page-slider {
    height: 575px;
}
.logedin-profile-page .content .content-main{
    width: 100%;
    overflow-y: scroll;
}
.logedin-profile-page .content .content-main .table {
    width: 850px;
}
}
@media only screen and (max-width: 1360px) {

.vsure-home-page-slider {
    height: 650px;
}
.logedin-order-page {
    float: left;
    width: 100%;
}
}

@media only screen and (max-width: 1200px) {

.vsure-home-page-slider {
    height: 562px;
}
.navbar-collapse ul {
    margin: 0;
}
.sidebar{
    width:100%;
    height: inherit;
    margin-left: 10px;
}
.logedin-profile-page .sidebar a {
    float: left;
    display: inline-block;
    width: initial;
    padding: 10px;
}
.logedin-profile-page .sidebar a.active {
    background-color: #4CAF50;
    color: white;
    padding: 10px 10px 10px 25px;
}

}

@media only screen and (max-width: 1065px) {

.navbar-default .navbar-nav > li > a{
	padding:5px;
	font-size: 15px;
}
}

@media only screen and (max-width: 800px) {

section#service-page-radial-progress-bar .col-md-2 {
    width: 100%;
}
button.navbar-toggle {
    float: left;
    margin-left: 10px;
    margin-right: 0px;
    margin-top:5px;
}
.vsure-logo-image{
    max-width: 180px;
}
.logedin-profile-page .sidebar a {
    padding: 5px;
}
.vsure-header-top .col-md-2.col-xs-2.col-sm-2 a {
    margin: 5px 2px;
}

}

@media only screen and (max-width: 768px) {

.navbar-sign-in-button {
    display: block;
}
.td-subcat-filter {
    float: left;
    width: 100%;
    position: inherit;
    background: #eee;
    padding: 5px;
}
.td-subcat-filter ul{
    padding:0;
}
.td-subcat-filter ul li.td-subcat-item{
    margin-left: 15px !important;
}
.about-blog .blog-thumb {
    float: left;
    width: 100%;
    position: inherit;
}
.about-blog .item-details {
    float: left;
    width: 100%;
    margin: 0;
}
.about-blog .item-details h3{
    text-align: left;
}
.upload-btn {
    float: right;
    margin: 2em 30px 20px 0px;
    text-align: center;
}
.post_panel_top .post_share{
	display: block !important;
	margin:20px 0 !important;
}
.logedin-notifications-page div.content{
	margin: 0;
}
.sidebar.service-request-page-nav a {
    padding: 5px;
    font-size: 13px;
}
.sidebar.service-request-page-nav a.active {
    padding: 5px;
}
.service-request-page-data {
    margin: 0 auto;
    width: 100%
}
}

@media only screen and (max-width: 600px) {
.sidebar.service-request-page-nav a{
	width:100% !important;;
}

}

@media only screen and (max-width: 570px) {
.vsure-header-top .col-md-10.col-xs-10.col-sm-10 ul li a {
    padding: 4px;
    font-size: 15px;
}
.vsure-header-top .col-md-2.col-xs-2.col-sm-2 a i {
    font-size: 13px;
}
}

@media only screen and (max-width: 500px) {

header#main-header .navbar>.container {
    width: 100%;
    padding: 0 10px;
}
.vsure-header-top{
    padding:0;
    display: none;
}
.carousel-caption {
    right: 0%;
    left: 0%;
    width: 99%;
}
.vsure-homepage-clients-icons img{
    margin: 5px 0;
}
#portfolio{
    display: none;
}
section#blog .row .col-lg-1 {
    display: none;
}
section#testimonial{
    display: none;
}
.home-page-banner-info{
    padding-top: 20px;
}
.section-padding {
    padding: 10px 0px;
}
.wrapper h1 {
    font-size: 18px;
}
.item-img img {
    text-align: center;
    width: 70px;
}
.wrap-item p {
    color: #fff;
    font-size: 11px !important;
    float: left;
    width: 100%;
}
.homepage-blog-sec{
    margin-bottom: 0;
}
.homepage-blog-sec .blog-img{
    margin-top:0;
}
.homepage-blog-sec .blog-img{
    box-shadow: none;
}
.homepage-blog-sec .blog-img h2 {
    font-size: 12px;
}
.homepage-blog-sec .blog-img p {
    display: none;
}
.homepage-blog-sec .blog-img button {
    display: none;
}
.logedin-profile-page .sidebar a {
    float: left;
    display: inline-block;
    width: initial;
    padding: 10px;
    width: 50%
}
.logedin-profile-page-image {
    text-align: center;
}
p.profile-email {
    float: left;
    width: 100%;
}
p.profile-email span {
    margin: 5px 0 0 0;
    width: 100%;
    float: left;
}
.vsure-company-details-page {
    margin: 4em 0;
}
ol.progtrckr {
    margin: 0;
    padding: 0;
}
}

@media only screen and (max-width: 350px) {

}



.navbar-header{
    z-index: 9999;
}